<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>User localization lat:</strong>
  <%= @user.user_localization_lat %>
</p>

<p>
  <strong>User localization long:</strong>
  <%= @user.user_localization_long %>
</p>

<p>
  <strong>User email:</strong>
  <%= @user.user_email %>
</p>

<p>
  <strong>User rol:</strong>
  <%= @user.user_rol %>
</p>

<p>
  <strong>User password:</strong>
  <%= @user.user_password %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
