<%= form_for(waste) do |f| %>
  <% if waste.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(waste.errors.count, "error") %> prohibited this waste from being saved:</h2>

      <ul>
      <% waste.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :waste_name %>
    <%= f.text_field :waste_name %>
  </div>

  <div class="field">
    <%= f.label :waste_material %>
    <%= f.text_field :waste_material %>
  </div>

  <div class="field">
    <%= f.label :waste_description %>
    <%= f.text_field :waste_description %>
  </div>

  <div class="field">
    <%= f.label :waste_img %>
    <%= f.text_field :waste_img %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
