<p id="notice"><%= notice %></p>

<p>
  <strong>Waste name:</strong>
  <%= @waste.waste_name %>
</p>

<p>
  <strong>Waste material:</strong>
  <%= @waste.waste_material %>
</p>

<p>
  <strong>Waste description:</strong>
  <%= @waste.waste_description %>
</p>

<p>
  <strong>Waste img:</strong>
  <%= @waste.waste_img %>
</p>

<%= link_to 'Edit', edit_waste_path(@waste) %> |
<%= link_to 'Back', wastes_path %>
